Repository Ducksss/HacknRoll2023-Robin-Hood: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Moving Husky to root directory for pre-commit hooks
  frontend/.husky/pre-commit
Due: none

Cleaning out content/index.ts
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

[chore] test
  frontend/.DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/img/logo.svg
  frontend/src/pages/popup/Popup.tsx
  frontend/src/pages/popup/TextConversionOption.tsx
  frontend/src/pages/popup/index.scss
  frontend/src/pages/popup/index.tsx
  frontend/tailwind.config.cjs
  frontend/vite.config.ts.timestamp-1673704403234.js
  frontend/yarn.lock
Due: prettier --write

Resolving merge conflicts
  .husky/pre-commit
  frontend/.lintstagedrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/manifest.ts
  frontend/src/pages/foreground/index.ts
  frontend/yarn.lock
Due: prettier --write, eslint --fix

api to detect ai generated text
  backend/.gitignore
  backend/Dockerfile
  backend/README.md
  backend/api/config.py
  backend/api/routes.py
  backend/api/utils.py
  backend/main.py
  backend/models/detect.py
  backend/requirements.txt
Due: none

[fix] Remove double newline in replace
  backend/api/routes.py
Due: none

[fix] Basic code linting
  backend/api/routes.py
  backend/api/utils.py
Due: none

[feat] Improve README for backend
  backend/README.md
Due: none

Updating web extension engine for notion
  frontend/src/assets/img/logo.svg
  frontend/src/pages/content/index.ts
  frontend/src/pages/foreground/index.ts
  frontend/vite.config.ts
Due: prettier --write, eslint --fix

[fix] README for backend
  backend/README.md
Due: none

[dbg] Add MIT License
  LICENSE
Due: none

[chore] tes
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

docker compose file for application
  backend/Dockerfile
  backend/api/utils.py
  docker-compose.yml
Due: none

[feat] Complete initial readme
  README.md
  assets/robin-hood-bg.jpg
Due: none

Updating the web extension engine to process promises simultaneously
  frontend/public/manifest.json
  frontend/src/assets/fonts/Comfortaa-Bold.woff2
  frontend/src/assets/fonts/Comfortaa-Light.woff2
  frontend/src/assets/fonts/Comfortaa-Regular.woff2
  frontend/src/assets/fonts/Pacifico-Regular.woff2
  frontend/src/manifest.ts
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

[fix] Transparent logo
  README.md
  assets/robin-hood-bg.jpg
  assets/robin-hood-bg.png
Due: none

[chore] fix dropdown
  frontend/src/pages/popup/TextConversionOption.tsx
Due: none

Creating and adding a modal component
  frontend/src/pages/modal/Popup.tsx
  frontend/src/pages/modal/TextConversionOption.tsx
  frontend/src/pages/modal/index.css
  frontend/src/pages/modal/index.html
  frontend/src/pages/modal/index.scss
  frontend/src/pages/modal/index.tsx
  frontend/vite.config.ts
Due: prettier --write, eslint --fix

[chore] add icons
  frontend/public/icon-128.png
  frontend/public/icon-34.png
  frontend/public/manifest.json
  frontend/src/manifest.ts
Due: prettier --write, eslint --fix

[chore] setup codes for testing on grace laptop
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

testing for kei lok
  backend/api/routes.py
  docker-compose.yml
  frontend/src/pages/content/index.ts
  frontend/yarn.lock
Due: prettier --write, eslint --fix

cors error fix
  backend/main.py
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

SideBar MVP for Web Extension
  frontend/public/contentStyle.css
  frontend/public/manifest.json
  frontend/src/manifest.ts
  frontend/src/pages/content/index.ts
  frontend/src/pages/content/style.css
  frontend/src/pages/modal/Popup.tsx
  frontend/src/pages/modal/TextConversionOption.tsx
  frontend/src/pages/sidebar/Popup.tsx
  frontend/src/pages/sidebar/index.css
  frontend/src/pages/sidebar/index.html
  frontend/src/pages/sidebar/index.scss
  frontend/src/pages/sidebar/index.tsx
  frontend/vite.config.ts
Due: prettier --write, eslint --fix

revert pydantic
  backend/api/routes.py
Due: none

Update index.ts
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

Reformatting the code to pair getters and setters
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

[feat] comment out sidebar
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

[chore] comment out loadSidebar
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

[chore] commnment out laodsidebar
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

[test] 1
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

Calling backend api for detection
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

code works now
  backend/api/routes.py
  frontend/src/pages/content/index.ts
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

Create README.md
  README.md
Due: none

[docs] add promotional imagery
  frontend/src/assets/img/promotional-material.png
Due: none

[docs] add readme
  README.md
Due: none

[docs] update readme
  README.md
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: (any of: *.ts) or (any of: *.html)
